#kopfleiste {
	border-width: 1px;
	border-style: solid;
	border-color: #515151;
}

#menu {
	border-width: 1px;
	border-style: solid;
	border-color: #515151;
}

#inhalt {
	border-width: 1px;
	border-style: solid;
	border-color: #515151;
}