body {
    padding: 0px;
}

#kopfleiste {
    margin: 0px 0px 5px 0px;
}

#kopfleiste h1 {
    font-size: 140%;
    line-height: 40px;
}

#menu {
    position: static;
    float: none;
    margin: 0px 0px 5px 0px;
}

#menu a {
    display: block;
}

#guestbook-form {
    max-width: 400px;
    margin: 0 auto;
}

#guestbook-form label,
#guestbook-form input,
#guestbook-form textarea,
#guestbook-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#guestbook-entries {
    margin-top: 15px;
    /* Fügt einen oberen Abstand von 15px hinzu */
    /* ... Weitere Eigenschaften ... */
}