/* Logo */
#logo {
	text-align: center;
	/* Zentriert den Inhalt horizontal */
	background-color: #ffffff;
	padding: 10px 0;
}

.logo-image {
	max-width: 500px;
	/* Begrenzt die maximale Breite des Bildes */
	display: block;
	/* Entfernt den Abstand unten, der bei Inline-Elementen auftreten kann */
	margin: 0 auto;
	/* Zentriert das Bild horizontal innerhalb des Containers */
}

body {
	margin: 0px;
	padding: 8px;
	
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans serif";
	color: #555555;
	background-color: #ffffff;
}

strong {
	font-weight: bold;
}

a {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

td {
	padding: 15px;
}

tr.zweitezeile {
	background-color: #f2f1f0;
}

a:link {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

a:active {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

#container {
	width: inherit;
	max-width: 960px;
	margin: 0 auto 0 auto;
}

#kopfleiste {
	width: inherit;
	height: 80px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 15px;
	
	background-color: #366BF4;
	box-shadow: 2px 2px 2px 0px #515151;
}

#kopfleiste h1 {
	margin: 0px;
	padding: 0px;
	
	font-size: 36px;
	line-height: 80px;
	color: #FAF9F8;
}

#menu {
	float: left;	
	width: auto;
	height: auto;
	margin: 0px 15px 0px 0px;
	padding: 10px;
	
	background-color: #FAF9F8;
	box-shadow: 2px 2px 2px 0px #515151;
}

#menu a:hover {
	background-color: #f2f1f0;
}

#menu ul {
	padding: 0px;
	
	list-style-type: none;
}

#menu li {
	margin: 0px 0px 15px 0px;
	padding: 0px 10px 0px 10px;

	font-size: 16px;
}

#menu li.current {
	color: #FAF9F8;
	background-color: #366BF4;
}

#inhalt {
	width: auto;
	height: auto;
	overflow: hidden; /*Damit das Layout mit float funktioniert*/
	padding: 10px 15px 10px 15px;
	
	background-color: #FAF9F8;
	box-shadow: 2px 2px 2px 0px #515151;
}

#inhalt a {
	color: inherit;
	font: inherit;
	text-decoration: underline;
}

#inhalt h2 {
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
}

#inhalt p {
	font-size: 15px;
	line-height: 1.3;
}